body {
	margin: 0;
	background-color: rgb(80, 80, 80);
	font-family: "Lato", sans-serif;
	overflow: hidden;
}

.top-header-bar {
	background-color: rgb(40, 40, 40);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 10px;
}


.file-header-bar-buttons button {
	width: 120px;
	height: 40px;
	border: none;
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 18px;
	margin-right: -5px;
	border-left: thin solid #fff;
	border-right: thin solid #fff;
}


.file-header-bar-buttons label {
	float: left;
	text-align: center;
	line-height: 225%;
	width: 165px;
	height: 40px;
	border: none;
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 18px;
	margin-right: -5px;
	border-left: thin solid #fff;
	border-right: thin solid #fff;
}



.file-header-bar-buttons button:hover {
	color: #3399ff;
}

.file-header-bar-buttons label:hover {
	color: #3399ff;
}


.main {
	background-color: rgb(200, 200, 200);
	margin: 20px;
	border: 20px solid rgb(100, 100, 100);
	width: 90%;
	height: 80vh;
}


#canvas-tab {
	background-color: rgb(240, 240, 240);
	width: 10%;
	height: 25px;
}


#canvas-area {
	width: 100%;
	height: 96.5%;
	overflow: scroll;
	background-color: #fff;
}


.creator-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 0;
	top: 0;
	right: 0%;
	background-color: rgb(40, 40, 40);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:center;
	border-left: thin solid #fff;
}



.creator-nav button {
	width: 120px;
	height: 40px;
	border: none;
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 18px;
	margin-right: -5px;
	border-left: thin solid #fff;
	border-right: thin solid #fff;
	transition: 0.3s;
}



.creator-nav button:hover {
	color: #3399ff;
}

.creator-nav a:hover{
	color: #3399ff;
}

.creator-nav .closebtn {
	position: absolute;
	color: #fff;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-right: 0;
	text-decoration: none;
}


.element-nav {
	height: 0;
	width: 25%;
	position: fixed;
	z-index: 1;
	bottom: -10%;
	right: 0%;
	background-color: rgb(80, 80, 80);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: center;
	border-left: thin solid #fff;
}


.element-nav button {
	width: 120px;
	height: 40px;
	border: none;
	background-color: rgb(40, 40, 40);
	color: #fff;
	font-size: 18px;
	margin-right: -5px;
	border-left: thin solid #fff;
	border-right: thin solid #fff;
	transition: 0.3s;
}


.element-nav button:hover {
	color: #3399ff;
}


.element-nav a:hover{
	color: #3399ff;
}


.element-nav .closebtn {
	position: absolute;
	color: #fff;
	top: 5%;
	right: 25px;
	font-size: 36px;
	margin-right: 0;
	text-decoration: none;
}



.html-nav {
	height: 105%;
	width: 0;
	position: fixed;
	z-index: 1;
	bottom: -10%;
	right: 0%;
	background-color: rgb(60, 60, 60);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-left: thin solid #fff;
	color: #fff;
}


.html-nav #the-html-nav-inner {
	height: 70%;
	width: 70%;
	resize: both;
	overflow: scroll;
	margin-top: 7%;
}


.html-nav #the-html-nav-inner:hover {
	background-color: rgb(80, 80, 80);
}



.html-nav button {
	width: 120px;
	height: 40px;
	border: none;
	background-color: rgb(40, 40, 40);
	color: #fff;
	font-size: 18px;
	margin-right: -5px;
	border-left: thin solid #fff;
	border-right: thin solid #fff;
	transition: 0.3s;
}


.html-nav button:hover {
	color: #3399ff;
}


.html-nav a:hover{
	color: #3399ff;
}


.html-nav .closebtn {
	position: absolute;
	color: #fff;
	top: 5%;
	right: 25px;
	font-size: 36px;
	margin-right: 0;
	text-decoration: none;
}


.html-nav h1:hover{
	color: #3399ff;
}


.html-nav .introtag {
	position: absolute;
	color: #fff;
	top: 5%;
	right: 40%;
	font-size: 40px;
}


.choice-nav {
	height: 0;
	width: 25%;
	position: fixed;
	z-index: 1;
	bottom: -10%;
	right: 0%;
	background-color: rgb(40, 40, 40);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: center;
	border-left: thin solid #fff;
	color: #fff;
}



.choice-nav .introtag {
	color: #fff;
	top: 5%;
	font-size: 40px;
}


.choice-nav button {
	width: 120px;
	height: 40px;
	border: none;
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 18px;
	margin-right: -5px;
	border-left: thin solid #fff;
	border-right: thin solid #fff;
	transition: 0.3s;
}


.choice-nav button:hover{
	color: #3399ff;
}


.choice-nav .closebtn {
	position: absolute;
	color: #fff;
	top: 5%;
	right: 25px;
	font-size: 36px;
	margin-right: 0;
	text-decoration: none;
}


.style-nav {
	height: 0;
	width: 25%;
	position: fixed;
	z-index: 1;
	bottom: -10%;
	right: 0%;
	background-color: rgb(80, 80, 80);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-left: thin solid #fff;
	color: #fff;
}


.style-nav #the-style-nav-inner {
	height: 90%;
	width: 100%;
	resize: both;
	overflow: scroll;
	margin-top: 15%;
}

.style-nav .introtag {
	color: #fff;
	font-size: 40px;
	text-align: center;
}

.style-nav .introtag:hover{
	color: #3399ff;
}


.style-nav .closebtn {
	position: absolute;
	color: #fff;
	top: 5%;
	right: 25px;
	font-size: 36px;
	margin-right: 0;
	text-decoration: none;
}

.style-nav #the-style-nav-search {
	top: 5%;
	right: 25px;
	font-size: 36px;
	height: 5%;
	text-align: center;
	text-decoration: none;
}


.attr-nav {
	height: 0;
	width: 25%;
	position: fixed;
	z-index: 1;
	bottom: -10%;
	right: 0%;
	background-color: rgb(80, 80, 80);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-left: thin solid #fff;
	color: #fff;
}


.attr-nav #the-attr-nav-inner {
	height: 90%;
	width: 100%;
	resize: both;
	overflow: scroll;
	margin-top: 15%;
}

.attr-nav .introtag {
	color: #fff;
	top: 5%;
	right: 40%;
	font-size: 40px;
}

.attr-nav .introtag:hover {
	color: #3399ff;
}

.attr-nav #addbtn {
	width: 120px;
	height: 40px;
	border: none;
	top: 5%;
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 18px;
	margin-right: -5px;
	border-left: thin solid #fff;
	border-right: thin solid #fff;
	transition: 0.3s;
}


.attr-nav #addbtn:hover{
	color: #3399ff;
}



.attr-nav .closebtn {
	position: absolute;
	color: #fff;
	top: 5%;
	right: 25px;
	font-size: 36px;
	margin-right: 0;
	text-decoration: none;
}

